.root {
  height: 42px;
  padding: 10px;

  background: #696969;

  font-family: 'Saira', sans-serif;
  font-size: 20px;
  text-align: end;
}

.subText {
  color: #CBCACA;
  font-size: 20px;
}

.text {
  color: #FFFFFF;
  font-size: 20px;
}
